$navbar-default-bg: #000000;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align: center; 
    align-items: center;
}

#logo{
	float: left;
	font-size: 1.7em;
	color : #fff;
	text-transform: uppercase;
	letter-spacing: -1.0px;
	font-weight: bold;
}

#logo :hover{
	color: #sss;
}
.article-action{
	border-top: 1px solid #eaeaea;
	padding-top:10px;
}

.description{
	margin-top: 0;
}

.article-title{
    font-weight: bold;
    font-size: 1.5em;
	
}

.article-body{
     
    padding-top: 15px;
    padding-botton: 15px;
	
}
.listing{
 list-style: none;
	
}
.article-meta{
   
    border-top: 1px solid #eaeaea; 
    padding-top: 15px;
    padding-botton: 15px;
}
.user-article{
    margin-top: 20px;
	padding-top: 10px;
}

.jumbotron{
    min-height: 470px;
    
}

.footer{
    margin-top: 45px;
    margin-bottom: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.footer ul{
    float: right;
    list-style: none;
}

.footier ul li{
	float: left;
	margin-left: 15px;
} 

