$navbar-default-bg: #000000;

@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align: center; 
    align-items: center;
}

#logo{
	float: left;
	font-size: 1.7em;
	color : #fff;
	text-transform: uppercase;
	letter-spacing: -1.0px;
	font-weight: bold;
}

#logo :hover{
	color: #sss;
}
.article-action{
	border-top: 1px solid #eaeaea;
	padding-top:10px;
}

.description{
	margin-top: 0;
}

.jumbotron{
    min-height: 470px;
    
}

.footer{
    margin-top: 45px;
    margin-bottom: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.footer ul{
    float: right;
    list-style: none;
}

.footier ul li{
	float: left;
	margin-left: 15px;
} 

